<div>
    <h3>Register or Login</h3>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nickname</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="nickname" aria-describedby="emailHelp"
                [(ngModel)]="nickname" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                [(ngModel)]="password" required>
        </div>
        <div class="d-flex justify-content-around">
            <div class="d-col">
                <button type="submit" id="register_btn" class="btn btn-primary" type="button"
                    (click)="register()">Register</button>
            </div>
            <div class="d-col">
                <button type="submit" id="login_btn" class="btn btn-primary" type="button"
                    (click)="login()">Login</button>
            </div>
        </div>
    </form>
    <div *ngIf="badRegister" id="registredBox">Registration failure!</div>
    <div *ngIf="registredok" id="registredOkBox">Registered!</div>
    <div *ngIf="badCredentials" id="bad_credentials">Bad credentials!</div>
</div>