h3 {
    text-align: center;
    margin-top: 35%;
    padding-bottom: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bad_credentials {
    text-align: center;
    margin-top: 10%;
    color: red;
    font-size: x-large;
    font-weight: bolder;
}

#registredBox {
    text-align: center;
    margin-top: 10%;
    color: red;
    font-size: x-large;
    font-weight: bolder;
}

#registredOkBox {
    text-align: center;
    margin-top: 10%;
    color: green;
    font-size: x-large;
    font-weight: bolder;
}

