h3 {
    text-align: center;
    margin-top: 35%;
    padding-bottom: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#join_game_form{
    margin-top: 35%;
    padding-bottom: 20%;
}

button {
    margin: 5%;
}

#join{
    color: green;
}